{% extends "base.html" %}

{% block title %}Goals{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 p-10 shadow-lg rounded-lg mt-10">
    <h1 class="text-4xl font-bold text-blue-600 dark:text-blue-400 mb-6">My Goals</h1>
    <a href="{% url 'goal_create' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-green-700 mb-4 inline-block">Add New Goal</a>
    <ul class="mt-4">
        {% for goal in goals %}
            <li class="mb-2">
                <a href="{% url 'goal_detail' goal.pk %}" class="text-blue-500 hover:underline">{{ goal.title }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}