{% extends "base.html" %}

{% block title %}Goals{% endblock %}

{% block head %}
<style>
    .card {
        transition: transform 0.2s ease-in-out;
    }
    .card:hover {
        transform: scale(1.05);
    }
</style>
{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 p-10 shadow-lg rounded-lg mt-10">
    <div class="flex justify-between items-center mb-6">
        <h1 class="text-4xl font-bold text-blue-600 dark:text-blue-400">My Goals</h1>
        <div class="flex items-center space-x-4">
            <a href="{% url 'goal_create' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-green-700 inline-block">Add New Goal</a>
            <div>
                <label for="sort" class="text-gray-700 dark:text-gray-300">Sort by:</label>
                <select id="sort" class="bg-gray-100 dark:bg-gray-700 border border-gray-300 dark:border-gray-600 rounded-lg text-gray-900 dark:text-gray-300" onchange="sortGoals()">
                    <option value="created_at_desc" {% if request.GET.sort == "created_at_desc" %}selected{% endif %}>Newest First</option>
                    <option value="created_at_asc" {% if request.GET.sort == "created_at_asc" %}selected{% endif %}>Oldest First</option>
                </select>
            </div>
        </div>
    </div>
    
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
        {% for goal in goals %}
            <a href="{% url 'goal_detail' goal.pk %}" class="card block bg-white dark:bg-gray-700 p-6 rounded-lg shadow-lg relative">
                <div>
                    <h3 class="text-xl font-semibold text-black dark:text-white mb-2 truncate" title="{{ goal.title }}">{{ goal.title }}</h3>
                    {% if goal.short_description %}
                        <p class="text-gray-700 dark:text-gray-300 mb-2 truncate">{{ goal.short_description }}</p>
                    {% endif %}
                    <div class="mt-2">
                        {% for tag in goal.tags.all %}
                            <span class="inline-block bg-blue-200 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <span class="block text-gray-500 dark:text-gray-400 text-sm mt-2">Created on: {{ goal.created_at|date:"d-m-Y H:i" }}</span>
                    <span class="absolute top-2 right-2 text-xs text-white px-2 py-1 rounded-lg {% if goal.completed %}bg-green-500{% else %}bg-red-500{% endif %}">
                        {% if goal.completed %}Complete{% else %}Incomplete{% endif %}
                    </span>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

<script>
function sortGoals() {
    const sortValue = document.getElementById('sort').value;
    const currentUrl = new URL(window.location.href);
    currentUrl.searchParams.set('sort', sortValue);
    window.location.href = currentUrl.href;
}
</script>
{% endblock %}
