{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="bg-white dark:bg-gray-800 p-10 shadow-lg rounded-lg mt-10">
    <h1 class="text-5xl font-bold text-blue-600 dark:text-blue-400 mb-6 text-center">Welcome to My Notes App</h1>
    <p class="text-lg text-gray-700 dark:text-gray-300 mb-8 text-center">
        My Notes App is a powerful tool for managing your notes and goals. 
        Keep track of your thoughts, organize your tasks, and achieve your goals with ease.
    </p>
    <div class="flex justify-center space-x-4">
        {% if user.is_authenticated %}
            <a href="{% url 'note_create' %}" class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700">Create New Note</a>
            <a href="{% url 'goal_create' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-green-700">Create New Goal</a>
        {% else %}
            <a href="{% url 'login' %}" class="bg-blue-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-blue-700">Login</a>
            <a href="{% url 'signup' %}" class="bg-green-500 text-white px-6 py-3 rounded-lg shadow-lg hover:bg-green-700">Sign Up</a>
        {% endif %}
    </div>
</div>
{% endblock %}