{% extends "base.html" %}

{% block title %}Note Detail{% endblock %}

{% block content %}
<h1 class="text-4xl font-bold text-blue-500 mb-4">{{ note.title }}</h1>
<p class="text-gray-700">{{ note.content }}</p>
<a href="{% url 'note_edit' note.pk %}" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-700 mt-4 inline-block">Edit</a>
<form method="post" action="{% url 'note_delete' note.pk %}" class="inline-block">
    {% csrf_token %}
    <button type="submit" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-700 mt-4">Delete</button>
</form>
{% endblock %}