{% extends "base.html" %}
{% load form_tags %}

{% block title %}Sign Up{% endblock %}

{% block header %}
<!-- Pusty blok header, aby usunąć nawigację -->
{% endblock %}

{% block content %}
<div class="max-w-md mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg p-8 mt-10">
    <h1 class="text-4xl font-bold text-blue-500 dark:text-white mb-6 text-center">Sign Up</h1>
    <form method="post" class="space-y-4">
        {% csrf_token %}
        {% if form.errors %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                <strong class="font-bold">Error:</strong>
                <span class="block sm:inline">{{ form.errors }}</span>
            </div>
        {% endif %}
        <div>
            <label for="{{ form.username.id_for_label }}" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">{{ form.username.label }}</label>
            {{ form.username|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600" }}
        </div>
        <div>
            <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">{{ form.password1.label }}</label>
            {{ form.password1|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600" }}
        </div>
        <div>
            <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 dark:text-gray-300 font-bold mb-2">{{ form.password2.label }}</label>
            {{ form.password2|add_class:"w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-700 dark:text-white dark:border-gray-600" }}
        </div>
        <button type="submit" class="w-full bg-blue-500 text-white px-6 py-3 rounded-lg hover:bg-blue-700">Sign Up</button>
    </form>
</div>
{% endblock %}
